.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

#ignore all bin directories
bin/

# ignore all target directories
target/

# ignore all files with ~

*~

